extends layout

block content
    div#breadcrumb
      a(href="/", data-original-title="返回主页").tip-bottom
        i.icon-home
        span 主页
      a(href="javascript:;").tip-bottom
        i.icon-th-list
        span 事件
      a(href="/views/event/addEvent").current 增加事件
    div.container-fluid
      div.row-fluid
        div.span12
          div.alert.alert-success.hidden#addEventTip 
            span 增加成功！
            a.close(data-dismiss="alert") ×
          div.widget-box
            div.widget-title
              span.icon
                i.icon-pencil
              h5 增加事件
            div.widget-content.nopadding
              form(action="javascript:;", method="get").form-horizontal#addEventForm
                div.control-group
                  label.control-label 输入人员
                  div.controls
                    input(type="text", disabled, value= userName, name="userName")
                div.control-group
                  label.control-label 平台账号
                  div.controls
                    input(type="text", name="platAccount", required)
                div.control-group
                  label.control-label 事件分类
                  div.controls
                    select.span3#type
                div.control-group
                  label.control-label 事件描述
                  div.controls
                    input(type="text", name="eventDesc", required)
                div.control-group
                  label.control-label 解决方法
                  div.controls
                    textarea#solution
                div.control-group
                  label.control-label QQ
                  div.controls
                    input(type="text",name="qq")
                div.control-group
                  label.control-label 其它描述方式
                  div.controls
                    textarea#otherDesc
                div.control-group
                  label.control-label 常看的游戏直播
                  div.controls
                    select.span3#gameType
                div.control-group
                  label.control-label 地区
                  div.controls
                    input(type="text",name="address")  
                div.control-group
                  label.control-label 所属网络
                  div.controls
                    input(type="radio", value="1", name="network", checked)#foo
                    label(for="foo", style="display:inline; margin: 0 20px 0 5px; vertical-align:middle;") 电信
                    input(type="radio", value="2", name="network")#foo2
                    label(for="foo2", style="display:inline; margin: 0 20px 0 5px; vertical-align:middle;") 联通
                    input(type="radio", value="3", name="network")#foo3
                    label(for="foo3", style="display:inline; margin: 0 20px 0 5px; vertical-align:middle;") 移动
                    input(type="radio", value="4", name="network")#foo4
                    label(for="foo4", style="display:inline; margin: 0 20px 0 5px; vertical-align:middle;") 铁通
                    input(type="radio", value="5", name="network")#foo5
                    label(for="foo5", style="display:inline; margin: 0 20px 0 5px; vertical-align:middle;") 其他
                    input(type="text", name="otherNet", style="width:auto;").hidden
                div.form-actions
                  button(type="submit").btn.btn-primary 保存
                  button(type="reset",style="margin-left:20px;").btn.btn-default 重置

    script(src='/js/addEvent.js')