extends layout

block content
    div#breadcrumb
      a(href="/", data-original-title="Go to Home").tip-bottom
        i.icon-home
        span 主页
      a(href="javascript:;").current 主页
    div.container-fluid
      div.row-fluid
        div.span6
          div.widget-box
            div.widget-title
              h5 常看的游戏直播
            div.widget-content
              div#con1
        div.span6
          div.widget-box
            div.widget-title
              h5 事件分类
            div.widget-content
              div#con2


  
    script(src='/js/index.js')
