doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/fullcalendar.css')
    link(rel='stylesheet', href='/css/unicorn.main.css')
    link(rel='stylesheet', href='/css/unicorn.grey.css' class="skin-color" )
    script(src='/js/lib/excanvas.min.js')
    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/jquery.ui.custom.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/jquery.flot.min.js')
    script(src='/js/lib/jquery.flot.resize.min.js')
    script(src='/js/lib/jquery.peity.min.js')
    script(src='/js/lib/fullcalendar.min.js')
    script(src='/js/lib/unicorn.js')
    script(src='/js/lib/unicorn.dashboard.js')
    script(src='/js/common.js')
    
  body
    div#header
      h1
    div#user-nav.navbar.navbar-inverse
      ul.nav.btn-group
        li.btn.btn-inverse
          a(href="/views/index/login",  title="")
            i.icon.icon-user
            span.text 张三
        if(cur == 'settings')
          li.btn.btn-inverse.active
            a(href="/views/index/settings", title="个人设置")
              i.icon.icon-cog
              span.text 个人设置
        else
          li.btn.btn-inverse
            a(href="/views/index/settings", title="个人设置")
              i.icon.icon-cog
              span.text 个人设置
        li.btn.btn-inverse
          a(href="javascript:;", title="")
            i.icon.icon-share-alt
            span.text 登出
    div#sidebar
      a(href="javascript:;").visible-phone
        i.icon.icon-pencil Interface elements
      ul
        if(cur == 'home')
          li.active
            a(href="/")
              i.icon.icon-home
              span 主页
        else
          li
            a(href="/")
              i.icon.icon-home
              span 主页
        if( cur == 'event')
          li.submenu.active
            a(href="javascript:;")
              i.icon.icon-th-list
              span 事件
              span.label 3
            ul
              li
                a(href="/views/index/addEvent") 增加事件
                a(href="/views/index/updateEvent") 编辑事件
                a(href="/views/index/selectEvent") 查询事件
        else 
          li.submenu
            a(href="javascript:;")
              i.icon.icon-th-list
              span 事件
              span.label 3
            ul
              li
                a(href="/views/index/addEvent") 增加事件
                a(href="/views/index/updateEvent") 编辑事件
                a(href="/views/index/selectEvent") 查询事件
          
    div#content
      div#content-header
        h1 战旗TV-高清流畅的游戏直播平台
      block content
      div.row-fluid
        div#footer.span12 Copyright © 2009-2014 ZhanqiTV. All rights reserved. 浙B2-20090273-35