extends layout

block content
    div#breadcrumb
      a(href="/", data-original-title="返回主页").tip-bottom
        i.icon-home
        span 主页
      a(href="javascript:;").tip-bottom
        i.icon-th-list
        span 事件
      a(href="/views/event/selectEvent").current 查询事件
    div.container-fluid
      div.row-fluid
        div.span12
          div.widget-box
            div.widget-title
              h5 事件查询条件
            div.widget-content.nopadding
              form(action="javascript:;", method="get").form-horizontal#selectEventForm
                div.row
                  div.span5
                      label.control-label 客服人员
                      div.controls(style="width:500px;")
                        input(type="text", name="userName", style="width:205px;", value="不限")
                        button(type="button", style="margin-left:10px;", name="all").btn.btn-default 不限
                  div.span5
                      label.control-label 开始时间
                      div.controls(style="width:500px;")
                        input(type="text", name="startTime", data-date-format="yyyy-mm-dd", style="width:205px;", value="不限").datepicker
                        button(type="button", style="margin-left:10px;", name="all").btn.btn-default 不限
                div.row
                  div.span5
                      label.control-label 事件分类
                      div.controls
                        select#type
                  div.span5
                      label.control-label 结束时间
                      div.controls(style="width:500px;")
                        input(type="text", name="endTime", data-date-format="yyyy-mm-dd", style="width:205px;", value="不限").datepicker
                        button(type="button", style="margin-left:10px;", name="all").btn.btn-default 不限
                div.row
                  div.span5
                      label.control-label 游戏直播
                      div.controls(style="width:500px;")
                        select#gameType
                  div.span5
                      label.control-label QQ
                      div.controls(style="width:500px;")
                        input(type="text", name="qq", style="width:205px;", value="不限")
                        button(type="button", style="margin-left:10px;", name="all").btn.btn-default 不限
                div.row
                  div.span5
                      label.control-label 平台账号
                      div.controls(style="width:500px;")
                        input(type="text", name="platAccount", style="width:205px;", value="不限")
                        button(type="button", style="margin-left:10px;", name="all").btn.btn-default 不限
                div.form-actions
                  button(type="submit").btn.btn-primary 查询
                  button(type="reset",style="margin-left:20px;").btn.btn-default 重置
          
          div.widget-box
            div.widget-title
              h5 事件查询表
            div.widget-content.nopadding
              div#DataTables_Table_0_wrapper.dataTables_wrapper
                table.table.table-bordered.data-table.dataTable#DataTables_Table_0
                  thead
                    tr(role="row")
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 输入人员
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 平台账号
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 事件分类
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 事件描述
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 解决方法
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper QQ
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 其它描述方式
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 常看的游戏直播
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 地区
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 所属网络
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 提交时间
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                      th.ui-state-default(rowspan="1", colspan="1")
                        div.DataTables_sort_wrapper 操作
                          span.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s
                  tbody#container

                div.fg-toolbar.ui-toolbar.ui-widget-header.ui-corner-bl.ui-corner-br.ui-helper-clearfix#pagination 
                  div.dataTables_paginate.fg-buttonset.ui-buttonset.fg-buttonset-multi.ui-buttonset-multi.paging_full_numbers#myPage
                    
    script(src='/js/selectEvent.js')