/* login */
.system-tip{text-align: center; color: #fff;}

.container{width: 300px; height: 170px; background: #fff; border-radius: 10px; padding: 20px; margin-top: 150px;}
.control-group{margin: 5px; padding: 10px; text-align: center;}
.btn-area{padding: 20px; text-align: center;}
.hidden{display: none;}

#enterSys{margin-top: 60px;}